* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.titulo {
  background-color: #726397;
  color: #fff;
  padding: 30px 50px;
  width: 100%;
  border-radius: 12px;
}

.titulo h2,
.titulo h3 {
  color: #726397;
  margin: 0;
  font-size: 28px;
}

main {
  padding: 30px 50px;
}

.politicapriv {
  max-width: 1000px;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.politicapriv h2, 
.politicapriv h3 {
  color: #726397;
  margin-bottom: 10px;
}

.politicapriv p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #333;
}

.termosdeuso {
    max-width: 1000px;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.termosdeuso h2,
.termosdeuso h3 {
  color: #726397;
  margin-bottom: 10px;  
}
.termosdeuso p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #333;
}